.git
.github
!.github/ci
!.github/ci/**
!.github/workflows
!.github/workflows/**
.githooks
.venv
.venv-*
.uv-cache
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.pytest_cache
.mypy_cache
.ruff_cache
.nox
.tox
htmlcov
coverage.xml
dist
build
out
.config
